@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  color: #4a4b5e;
}

html {
  height: 100%;
  display: grid;
  place-content: center;
}
@media screen and (max-width: 900px) {
  html {
    height: auto;
  }
}

body {
  font-size: 12px;
  width: 1440px;
  background-image: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  height: 100%;
  display: grid;
  place-content: center;
}
@media screen and (max-width: 900px) {
  body {
    width: 375px;
    height: auto;
  }
}

.container {
  background-image: url("/images/illustration-woman-online-desktop.svg"), url("/images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: -20% 50%, 880% 65%;
  background-color: white;
  width: 900px;
  height: 500px;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container > img {
  position: relative;
  top: 40%;
  left: -25%;
}
@media screen and (max-width: 900px) {
  .container > img {
    left: 7%;
    top: -75%;
  }
}
@media screen and (max-width: 900px) {
  .container {
    margin: 10rem 0 10rem;
    width: 95%;
    max-width: 500px;
    height: auto;
    grid-template-columns: unset;
    grid-template-rows: 140px 1fr;
    background-image: url("/images/bg-pattern-mobile.svg");
    background-position: 50% 0%;
  }
}

.text-section {
  display: grid;
  height: 100%;
  padding: 5rem 5rem 0 2rem;
  grid-template-rows: auto 1fr;
}
.text-section h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.text-section ul {
  list-style-type: none;
  line-height: 1rem;
}
.text-section ul li {
  padding: 1rem 0;
  border-bottom: 1px solid #e7e7e9;
}
.text-section ul li .question {
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
}
.text-section ul li .question:hover {
  color: #f47c57;
}
.text-section ul li .question:after {
  content: "";
  position: absolute;
  background-image: url("/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  top: 25%;
  right: 0;
  width: 1rem;
  height: 1rem;
  transition: all 0.2s ease-out;
}
.text-section ul li .answer {
  overflow: hidden;
  max-height: 0;
  color: #787887;
  transition: max-height 0.2s ease-out;
}
.text-section ul li.active .question {
  font-weight: 700;
}
.text-section ul li.active .question:hover {
  color: #4a4b5e;
}
.text-section ul li.active .question:after {
  transform: rotate(180deg);
  top: -25%;
  right: 2%;
}
.text-section ul li.active .answer {
  padding-top: 1rem;
  display: block;
  max-height: 3rem;
}
@media screen and (max-width: 900px) {
  .text-section {
    height: 25rem;
    padding: 0 2rem;
  }
  .text-section h1 {
    text-align: center;
  }
}

.img-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .img-mobile {
    display: block;
  }

  .img-desktop {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
