@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
$light-grayish-blue: hsl(240, 5%, 91%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    color: $very-dark-grayish-blue;
}

html {
    height: 100%;
    display: grid;
    place-content: center;
    @media screen and (max-width: 900px) {
        height: auto;
    }
}

body {
    font-size: 12px;
    width: 1440px;
    background-image: linear-gradient($soft-violet, $soft-blue);
    background-repeat: no-repeat;
    height: 100%;
    display: grid;
    place-content: center;
    @media screen and (max-width: 900px) {
        width: 375px;
        height: auto;
    }
}

.container {
    background-image: url('/images/illustration-woman-online-desktop.svg'), url('/images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: -20% 50%, 880% 65%;
    background-color: white;
    width: 900px;
    height: 500px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    & > img {
        position: relative;
        top: 40%;
        left: -25%;
        @media screen and (max-width: 900px) {
            left: 50%;
        }
    }
    @media screen and (max-width: 900px) {
        margin: 10rem 0 10rem;
        width: 90vw;
        max-width: 500px;
        height: auto;
        grid-template-columns: unset;
        grid-auto-flow: row;
        background-image: url('/images/bg-pattern-mobile.svg');
        background-position:0% 0%;
    }
}

.text-section {
    display: grid;
    height: 100%;
    padding: 5rem 5rem 0 2rem;
    grid-template-rows: auto 1fr;
    h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    ul {
        list-style-type: none;
        line-height: 1rem;
        li {
            padding: 1rem 0;
            border-bottom: 1px solid $light-grayish-blue;
            .question {
                font-size: .9rem;
                cursor: pointer;
                position: relative;
                &:hover {
                    color: $soft-red;
                }
                &:after {
                    content: '';
                    position: absolute;
                    background-image: url('/images/icon-arrow-down.svg');
                    background-repeat: no-repeat;
                    top: 25%;
                    right: 0;
                    width: 1rem;
                    height: 1rem;
                    transition: all .2s ease-out;
                }
            }
            .answer {
                overflow: hidden;
                max-height: 0;
                color: $dark-grayish-blue;
                transition: max-height 0.2s ease-out;
            }
            &.active .question {
                font-weight: 700;
                &:hover {
                    color: $very-dark-grayish-blue;
                }
                &:after {
                    transform: rotate(180deg);
                    top: -25%;
                    right: 2%;
                }
            }
            &.active .answer {
                padding-top: 1rem;
                display: block;
                max-height: 3rem;
            }
        }
    }

    @media screen and (max-width: 900px) {
        height: 25rem;
        padding: 0 2rem;
        h1 {
            text-align: center;
        }
    }
}


.img-mobile {
    display: none;
}
@media screen and (max-width: 900px) {
    .img-mobile {
        display: block;
    }
    .img-desktop {
        display: none;
    }
}